.vrBox {
    padding-top: 130px;
}

.quote * {
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#meta {
    background:
}

.googleGlass {
    padding-top: 0px;
    padding-bottom: 30px;
}

.linkers {
    margin-left: 41.7;
}

.links a {
    color: aquamarine;
}

#features h2 {
    font-family: Sqaure1;
}

#features p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.vrBox * {
    font-family: Minecraft;
}

h2.text-center {
    font-family: Square1
}

@font-face {
    font-family: Minecraft;
    src: url(../assets/img/Minecrafter.ttf/);
}

@font-face {
    font-family: Sqaure1;
    src: url(../assets/img/squarefont/Square.ttf);
}

@font-face {
    font-family: Prestige;
    src: url(../assets/img/modern_prestige/Modern\ Prestige\ DEMO.otf);
}

section.cta {
    background-image: url("../assets/img/META.jpg");
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 10px;
    padding-left: 20px;
  }